

html, body {
    height: 100%;
    
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
    
    display: flex;
    flex-direction: column;
}

     .Main content 
main {
    flex: 1 0 auto;
}


/* hide sections until they are shown via the click events  */
#questions,
#final,
#highscores,
#yaynay {
    display: none;  
  } 


    ul.nobullets {
list-style-type: none;
}

/* Answer button styling */
.ansBtn,
.ansBtn:hover,
.ansBtn:active,
.ansBtn:focus,
.ansBtn:active:focus {
    box-shadow: none;
    outline: none;
    background-color: #9f3bdd;
}